# JWT secret – generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=x

# SMTP
EMAIL_FROM=x
SMTP_HOST=x
SMTP_PORT=x
SMTP_USER=x
SMTP_PASS=x
SMTP_SECURE=true

# AWS S3
S3_BUCKET=x
S3_PATH_PREFIX=x
S3_REGION=x
S3_ACCESS_KEY_ID=x
S3_SECRET_ACCESS_KEY=x
